.groupbtn{
    padding-left:10px;
    padding-bottom: 10px;
}
.sidebar{
    padding:20px 0 0 0;
}
.nav-sidebar li{
    margin:10px 0;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}